@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');

* {
    -webkit-tap-highlight-color: transparent;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@layer components {
    .inactive {
        grid-template-rows: 0fr;
    }

    .active {
        grid-template-rows: 1fr;
    }

    .invertColors {
        filter: invert();
        overflow: hidden;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

/* Dark Mode */
body.dark-mode {
    background-color: #171a1f;
    color: #f0f0f1;
}

/* Light Mode */
body.light-mode {
    background-color: #f7fafc;
    color: #000;
    border: black;
}

body.light-mode p {
    color: #1a202c;
}